<ul>
    <li>
        <a href="/">Главная страница</a>    
    </li>    
    <li>
        <a href="/user/auth">Авторизация</a>    
    </li>    
    <li>
        <a href="/user">Список пользователей</a>    
    </li>    
 

</ul>



